__pycache__/
.antlr/
venv/
*.tokens
*.interp
env_compiladores/

# =========================
# LLVM / IR / TAC
# =========================
*.ll
*.opt.ll
*.bc
*.tac

# =========================
# Binarios Linux
# =========================
*.out
*.bin

# =========================
# Ejecutables Windows
# =========================
*.exe
*.obj

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Cache llvmlite
# =========================
.cache/

# =========================
# Temporales
# =========================
tmp/
temp/
