# Entorno virtual de Python
venv/
env_compiladores/
.env/
env/

# Python compilado
__pycache__/
*.pyc
*.pyo
*.pyd

# ANTLR4 archivos generados
.antlr/
*.tokens
*.interp

# IDEs y editores
.idea/
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Cache llvmlite
.cache/

# Temporales
tmp/
temp/
